.enrolled {
    font-size: 20px;
    color: #800080;
    line-height: 30px;
}

.card_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 358px;
    height: 228px;
    background: linear-gradient(270deg, #800080 0%, #FF864C 100%);
    border-radius: 20px;
    color: white;
    padding:8px 20px;
}

.card .title{
    display:flex;
    justify-content: space-between;
}

.title h5{
    font-size: 16px;
    font-weight: 700;
}
.title p{
    font-size: 14px;
    line-height: 21px;
}

.course_title1{
    display: flex;
}
.course_title2{
    display: flex;
}

.course_title1  p{
    border: 1px solid white;
    margin-right: 5px;
    border-radius: 15px;
    padding: 2px 5px;
}
.course_title2  p{
    margin-top: -8px;
    border: 1px solid white;
    margin-right: 5px;
    border-radius: 15px;
    padding: 2px 5px;
}

/*------------laptop L--------------*/
@media (max-width:1366px){
    .card_container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
}


/*--------------- phone -----------------*/
@media (max-width: 768px){
    .card_container{
        display: flex;
        
    }
    .card{
        margin-bottom: 20px;
    }
    
}