.container{
    margin:0 70px;
    margin-top: 25px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu a{
    padding-right: 30px;
    text-decoration: none;
    color: #80008040;
    font-size: 18px;
}

.profile a{
    text-decoration: none;
    color: #800080;
    padding: 0 6px 0 10px;
    align-items: center;
}

.profile_icon{
    width: 16px;
    padding-right: 6px;
}

@media (max-width:768px) {
    .container{
        margin: 59px 10px;
    }
    .assign,.chat{
        display: none;
    }
    .profile{
        background-color: #800080;
        display: block;
        padding: 12px 25px;
        border-radius: 10px;
    }
    .profile a{
        color: white;
    }
    .profile_icon{
        display: none;
    }
}